<h1>How To Play<br>Rock / Paper / Scissors</h1>
<hr>
<p>On the count of three, each time raising one hand in a fist and swinging it down on the count, opposing players “throw” their selection into the middle.</p>
<p>Rock is designated by maintaining the fist, Scissors by extending the middle and index fingers, and Paper by holding the hand out flat. If players throw out the same gesture, the game goes on. </p>
<p>Scoring is based on the below logic:</p>
<table align="center">
  <tr>
    <th>Rock beats Scissors</th>
    <th>/</th>
    <th>Scissors beat Paper</th>
    <th>/</th>
    <th>Paper beats Rock</th>
  </tr>
  </table>
<hr>
